@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
    background-image: url("homebg.svg");
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: rgba(0, 255, 153, 0.65);
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.7), rgba(255, 255, 255, 0));
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 0px;
    border: 1px;
    border-radius: 0 0 50px 50px;
    height: 80px;
    transition: .5s;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    height: 80px;
    width: 80px;
    position: relative;
    left: 20px;
}

.navbar p {
    position: relative;
    font-family: 'Tangerine', cursive;
    font-size: 75px;
}

.navbar:hover {
    background-color: rgba(0, 255, 153, 0.9);
    height: 85px;
}


.heading {
    position: relative;
    top: 200px;
    text-align: center;
}

.heading h1 {
    font-size: 75px;
    font-family: 'Limelight', sans-serif;
    color: #00ff99;
}

.slidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: #00ff99;
    overflow: hidden;
    transition: 0.5s;
    right: 0px;
    top: 0px;
}

.slidebar:hover {
    width: 200px;
}

.slidebar ul {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.slidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    transition: 1s;
}

.slidebar ul li:hover {
    background: #c1c1c1;
}

.slidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.slidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.slidebar ul li a .icon .fa {
    font-size: 24px;
}

.slidebar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 10%;
    opacity: 90%;
}


.container .box {
    height: 240px;
    width: 360px;

    border-radius: 30px;
    background-size: cover;
    border-color: white;
    position: relative;
    overflow: hidden;
    /* margin: 5em; */
    margin: 80px 80px 20px 80px;
    transition: 0.5s;
}

.box1 {
    background-image: url("wikibg.png");
    background-position: center;
}

.box2 {
    background-image: url("marketbg.png");
}

.box3 {
    background-image: url("chathubbg.png");
}



.container .box:hover {
    height: 250px;
    width: 370px;
}



.sub h3 {
    padding-top: 30%;
}



.sub {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -240px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: rgba(0, 255, 153, 1);
    opacity: 50%;
    transition: 0.5s;
    text-align: center;
}


.box:hover>.sub {
    margin-top: 0px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    color: #00ff99;
}